/*个人中心页面*/
#content_center {
	width: 89%;
	background-color: white;
	height: auto;
	margin-left: 4%;
	margin-top: 3%;
	box-shadow: 1px 1px 5px #535A6C;
	margin-bottom: 23%;
}

#content_center ul:first-child span {
	font-size: 30px;
	margin-right: 15px;
	background-color: #535A6C;
	padding: 7px;
	border-radius: 23px;
	color: white;
}

#content_center ul li input {
	width: 75%;
	padding-left: 0px;
	height: 31px;
	border: 1px solid #c2c2c2;
}

#content_center ul li input:hover {
	border: 1px solid #535A6C;
}

#content_center ul li label {
	color: #535A6C;
	font-size: 15px;
}

.word_spacing {
	letter-spacing: 28px;
}

.word_except {
	margin-right: 28px;
}

.li_password {
	display: none;
}